@use '../../styles.scss' as *;

.Title{
    display:flex;
    padding-top:100px;
    box-sizing:border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

h2{
    width:100%;
    text-align: center;
    margin-bottom:10px;
}
p.subtitle{
    width:100%;
    text-align: center !important;
}

.referencesContainer{
    display:flex;
    width:100%
}

.referencesRow{
    width:100%;
    margin: 40px 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    @media (max-width:1000px){
        gap: 20px;
    }

    @media (max-width: 700px) {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
  
       
    }
}
.referenceCard{
    display:flex;
    border:3px solid var(--main-font-color);
    padding:30px 20px 20px 20px;
    box-sizing:border-box;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap:20px;
    width:30%;
    max-width:250px;
    height:auto;

    &:hover{
        border-color: var(--accent-font-color);
        .referenceText{
            font-style:italic;
        }
    }

    @media (max-width: 1200px) {
        width:30%;
        gap:10px;

    }
        @media (max-width: 800px) {
        width:45%;
        gap:15px;
    }
        @media (max-width: 600px){
        width: 65% !important;
     }
        @media (max-width: 400px) {
        width:80% !important;
        gap:20px;
    }
}   

.referenceHeader{
    
display:flex;
flex-direction: column;
align-items: center;
padding:20 0 0 0;
}

.refQuote{
    font-family: "Overpass", sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--accent-font-color);
    line-height: calc(clamp(1.5rem, 4vw, 2rem) + 4px);
    margin:0;
}

.refAuthor{
    font-family: "Overpass", sans-serif;
    margin:0;
    text-align:center;
    font-size: 16px;
    font-weight:bold;
    color: var(--main-font-color);

}
.refRelation{
    font-size:12px;
    margin:0;
}
.referenceText{
    margin:0;
    font-size: 12px;
    line-height: 1.4;
    font-family: "Overpass", sans-serif;
    color: var(--main-font-color);
    text-align: stretch;
}
