@use '../../styles.scss' as *;



.meContainer {
  position: relative;
  display: flex;
  float:right;
  order: 2;
  margin-left: auto;
  height: clamp(280px, 60vw, 380px);
  aspect-ratio: 38/40;

 
    transform: translateX(0);
    opacity: 1;
    div.meBorder {
      z-index: 20;
      position: relative;
      height: clamp(200px, 60vw, 380px);
      aspect-ratio: 38/40;
      transform: rotate(0deg);
      top: 10px;
      left: 10px;
      border: 2px solid var(--main-font-color);
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: rotate(3deg) translateX(-10px) translateY(-10px);
      }
    }
  

  img.me {
    z-index: 10;
    display: flex;
    justify-self: center;
    position: absolute;
    top: 0px;
    border: 0.5px solid rgb(from var(--main-font-color) r g b / 0.3);
    height: 100%;
    object-fit: cover;
  }
}

.meText {
   position:relative;
  gap: 30px;

  @media (max-width: 680px) {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 90%;
    margin: 0 auto;
  }
}

.meText > p,
.meText > .buttonContainer {
  opacity: 0;
    flex: 1 1 auto;
  transition:
    transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.4s ease;
}

.meTextWrapView .meText > p,
.meText > .buttonContainer {
  transform: translateX(-40vw);

}

.meTextWrapMobile .meText > p,
.meTextWrapMobile .meText > .buttonContainer {
  transform: translateX(-4vw);

}




.meTextWrapView.in-view .meText ,
 .meTextWrapMobile.individual .meText {
  transform: translateX(0);
  opacity:1;


 p:nth-of-type(1) {
  transition-delay: 0s;
    transform: translateX(0);
  opacity:1;
}

 p:nth-of-type(2) {
  transition-delay: 0.1s;
    transform: translateX(0);
  opacity:1;
}

 p:nth-of-type(3) {
  transition-delay: 0.2s;
    transform: translateX(0);
  opacity:1;
}

 p:nth-of-type(4) {
  transition-delay: 0.4s;
  margin-top: 50px;
    transform: translateX(0);
  opacity:1;
}

.buttonContainer {
  transition-delay: 0.6s;
    transform: translateX(0);
  opacity:1;
  
}
}

.iconAboutMe {
  width: 20px;
  height: 20px;
}


div.aboutmeDiv {
  display: flex !important;
  align-items:start;
  gap: 20px;
  padding: 40px 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.8;

  > div {
    flex: 1;
    width: 100%;
  }

  @media (max-width: 680px) {
    .meContainer {
     order:0;
      margin: 0 0 20px 0;
      align-self: center;
      height: clamp(200px, 80vw, 280px);
      .meBorder {
        height: clamp(200px, 80vw, 280px);
      }
    }

    .meText {
      > :first-child {
        align-self: center;
      }
    }
  }

  @media (max-width: 300px) {
    .meContainer {
      // > img.me {

        height: 80vw;
        object-fit: unset;
      // }

      .meBorder {
        height: 80vw;
      }
    }
  }
}
