@use '../../styles.scss' as *;

.aboutmeDiv{
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    display: grid;
    width:100%;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding: 40px 0;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.8;
    >div{
        flex:1;
    }
    @media (max-width: 600px){
        grid-template-columns: auto;
        > :first-child{
            order:2;
        }
        > :last-child{
            order:1;   
            display:flex;
            justify-content:center;
            width:100%;}
}
    @media (max-width:400px){
        >.meContainer{
            >img.me{
                height:100%;
                object-fit:unset;
            }
        >.meBorder{
            height: 100%;
        }
        }
    }
}

.meContainer{
    position:relative;
    display:flex;
    justify-content:center;
    height: clamp(280px, 60vw, 380px);
    aspect-ratio: 38/40;
    &.in-view{
        div.meBorder{
            z-index:20;
    position:relative;
    height: clamp(280px, 60vw, 380px);
    aspect-ratio: 38/40;
    transform: rotate(0deg);
    top:10px;
    left:10px;
    border:2px solid var(--main-font-color);
     transition: transform 0.2s ease-in-out;
            &:hover{
                transform:rotate(3deg) translateX(-10px) translateY(-10px);
               
 }
    }

    }
    img.me{
        z-index:10;
        display:flex;
        justify-self:center;
        position:absolute;
        top:0px;
border: 0.5px solid rgb(from var(--main-font-color) r g b / 0.3);        height: 100%;
        // aspect-ratio:300/286;
        object-fit: cover;
        
    }
}
.meText{
    opacity: 0;
}

.meText > * {
    opacity: 1;
    transform: translateX(-100%);
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease;
    transition-delay: 0s;
}

.meTextWrap.in-view .meText {
    opacity: 1;
}

.meTextWrap.in-view .meText > * {
    transform: translateX(0);
}

.meText > p:nth-of-type(1) {
    transition-delay: 0s;
}
.meText > p:nth-of-type(2) {
    transition-delay: 0.1s;
}
.meText > p:nth-of-type(3) {
    transition-delay: 0.2s;
}
.meText > p:nth-of-type(4) {
    transition-delay: 0.4s;
    margin-top: 50px;
}
.meText > .buttonContainer {
    transition-delay: 0.6s;
}

.iconAboutMe{
    width:20px;
    height:20px;
  //   margin-right:20px;
}