@use '../../styles.scss' as *;

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.8;
    >div{
        flex:1;
    }
}

.meContainer{
    position:relative;
    display:flex;
    justify-content:center;
   width:calc(380px * (300 / 286));
    height: 380px;
    &.in-view{
        div.meBorder{
            z-index:20;
    position:relative;
    height:380px;
    width: calc(380px * (286 / 300));
    transform: rotate(0deg);
    top:10px;
    left:10px;
    border:2px solid var(--main-font-color);
     transition: transform 0.2s ease-in-out;
            &:hover{
                transform:rotate(3deg);
               
 }
    }

    }
    img.me{
        z-index:10;
        display:flex;
        justify-self:center;
        position:absolute;
        top:0px;
border: 0.5px solid rgb(from var(--main-font-color) r g b / 0.3);        height: 100%;
        aspect-ratio:300px/286px;
        object-fit: cover;
        
    }
}
.meText{
    opacity: 0;
}

.meText > * {
    opacity: 1;
    transform: translateX(-50vw);
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease;
    transition-delay: 0s;
}

.meTextWrap.in-view .meText {
    opacity: 1;
}

.meTextWrap.in-view .meText > * {
    transform: translateX(0);
}

.meText > p:nth-of-type(1) {
    transition-delay: 0s;
}
.meText > p:nth-of-type(2) {
    transition-delay: 0.1s;
}
.meText > p:nth-of-type(3) {
    transition-delay: 0.2s;
}
.meText > p:nth-of-type(4) {
    transition-delay: 0.4s;
    margin-top: 50px;
}
.meText > .buttonContainer {
    transition-delay: 0.6s;
}

.iconAboutMe{
    width:20px;
    height:20px;
     margin-right:20px;
}