@for (project of projects; track project.id; let i = $index) {
  <div class="projectContainer" [class.reverse]="i % 2 === 1">
    <div class="imgContainer">
        @if (project.liveLink) {
        <div class="imgOverlay" (click)="openNewTab(project.liveLink)"><img src="assets/img/icon____link.svg" class="imgLink" [class.left]="i % 2 === 1" alt=""></div>
      <img [src]="project.imgSrc" alt="" [attr.alt]="project.title" [attr.title]="project.title">
        }
    </div>

    <div class="textContainer" [class.right]="i % 2 === 1">
        <div class="projectNumber" [class.left]="i % 2 === 1">{{ i + 1 | number:'2.0' }}/{{ projects.length | number: '2.0' }}</div>
      <h5>{{ project.title }}</h5>
    <p class="tools">
    <span class="tool">{{ project.tools.join(' | ') }}</span> 
      </p>
      <p class="description" [class.right]="i % 2 === 1">{{ project.description }}</p>
    <div class="buttonGithub"  [class.right]="i % 2 === 1">
      @if (project.gitLink) {
        <button (click)="openNewTab(project.gitLink)" class="standardButton light" type="button">Github</button>
      }

      </div>
    </div>
  </div>
}