.sayhiContainer{
    width:100%;
    display:flex;
    position:absolute;
    bottom:0;

    flex-direction:column;
    align-items:center;
    & .diagonal{
        width:104%;
        background: var(--main-font-color);
        height:64px;
         clip-path: polygon(0 0%, 0% 0, 0% 100%, 100% 100%);
         position: relative;
         overflow:hidden;
        bottom: -2px;
    }
    & .sayhi{
        width:100%;
        background: var(--main-font-color);
        color:var(--main-bg-color);

        & h1{
            font-size: 3rem !important;
            font-weight: 600 !important;
            position:relative;
            color: var(--main-bg-color);
            text-align:left;
            padding:0 50px;
            &:hover{
            color: var(--accent-font-color);
        }
        }
    }
}
