@use '../../../styles.scss' as *;
:host{
    z-index:-1;
    position:absolute;
    width:100%;
    top:49px;
        border-top: 1px solid #09090a1f;
}

.menuPanel{
    width:100%;
    min-height: 50vh;
    position:absolute;
    z-index:-1;
    left:0;
    background-color: var(--main-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction:column;
    align-items:center; 
    font-family: 'Syne - Bold', 'Helvetica Neue', sans-serif !important;
    font-weight:800;
    gap:50px;
    font-size:3rem;
    justify-content:center;   
    color: var(--main-font-color);
}

.angle{
    position:relative;
    height:20px;
    width:20px;
    bottom:16px;
    left:-16px;
    border-left: 2px solid var(--main-font-color);
    border-bottom: 2px solid var(--main-font-color);
}

.menuItem{
        border:2px solid transparent;
    cursor:pointer;
    transition: width 0.3s ease;
    position:relative;
    display:inline-block;

}
.about,.mySkills, .portfolio, .sayhi{
    &::after{
        content: "";
        position: absolute;
        left:6px;
        bottom: 16px;
        height: 2px;
        width: 0; // Start: unsichtbar

        transition: width 0.3s ease; // Animation
        pointer-events:none;
    }
    &:hover::after{ 
        width: 100%;
    }
    :focus-visible::after{
        width:100%;
    }
}
.about,.mySkills, .portfolio{
    &::after{
        background-color: var(--main-font-color); // deine Wunschfarbe
    }

.sayhi{
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    &::after{
        background-color: var(--main-bg-color); // deine Wunschfarbe
    }
}
}
.sayhiContainer{
    width:100%;
    display:flex;
    position:absolute;
    bottom:0;

    flex-direction:column;
    align-items:center;
    & .diagonal{
        width:100%;
        background: var(--main-font-color);
        height:100px;
         clip-path: polygon(0 0%, 0% 0, 0% 100%, 100% 100%);
         position: relative;
    bottom: -2px;
    }
    & .sayhi{
        width:100%;
        background: var(--main-font-color);
        color:var(--main-bg-color);

        & h1{
            font-size: 3rem !important;
            font-weight: 600 !important;
            position:relative;
            top:-50px;
            color: var(--main-bg-color);
            text-align:left;
            padding:0 50px;
            &:hover{
            color: var(--accent-font-color);
        }
        }
    }
}
