@use '../../../src/styles.scss' as *;

app-say-hi {
  margin: 0;
  min-height: 50vh;
  width: 100%;
}

.app-section {
  width: 100%;
  min-height: 50vh;
  display:block;
}

.layoutFlex {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  max-width: clamp(300px, 90%, 1000px);
  gap: 10px;
  box-sizing: border-box;
  margin: 50px auto 0px auto;
  > * {
    max-width: 100%;
    box-sizing: border-box;
  }
}


#mySkillsAnchor {
  position: relative;
  height: 20px;
  visibility: hidden;
}

.spacer {
  height: 180px;
  width: 100%;
  z-index:20;
  display: flex;
  position: relative;

  &.right {
    justify-content: right;
  }
  &.left {
    justify-content: right;
    transform: scaleX(-1);
  }

  @media (max-width: 600px), (max-height: 600px) {
    height: 120px;
  }
}
.spacerArrow {
  height: 100%;
  cursor: pointer;
}


