


.toWhite{
    filter:invert(1);
    }

.logo{
    height:24px;
    margin:0 8px;
}

.stayConnected{
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color: var(--main-bg-color);
    font-size:10px;
    line-height:20px;
    margin: 2rem 50px;
    .stayConnectedIcons{
        display:flex;
        box-sizing:border-box;
        align-items:flex-start;
        gap:25px;
            .icon{
                box-sizing:border-box;
                position:relative;
                top:0;
                img{
                    width:26px;
                

                &:hover{
                    cursor: pointer;
                    filter:opacity(0.8);
                    transform: scale(1.1);
                    transition: transform 0.3s ease, filter 0.3s ease;
                }
            }
            }   
    }

}
