@use '../../src/styles.scss' as *;

app-header {
  z-index: 30;
}

router-outlet {
  z-index: 10;
}

app-footer {
  position: relative;
  display:flex;
  bottom:0;
  z-index: 20;
  width: 100%;
  border-top: 1px solid var(--main-font-color);
  background-color: var(--main-font-color);

  &.footer-fixed {
    position: fixed;
    height: 140px;
  @media (max-width: 400px) {
    height:168px;
  }
  @media (max-height:600px) and (min-width:400px){
    height:100px;   
}
@media (max-height:600px) and (min-width:600px){
    height:50px;
}
}
}