@use '../../src/styles.scss' as *;

app-header {
  z-index: 30;
}

router-outlet {
  z-index: 10;
}

app-footer {
  position: absolute;
  z-index: 20;
  width: 100%;
  background-color: var(--main-font-color);
}
