// @import "./../../src/styles.scss";
@use '../../src/styles.scss' as *;

app-header{
    position: fixed;
    height:50px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--main-bg-color);
    box-sizing:border-box;
    width: 100vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}