@use '../../src/styles.scss' as *;

app-header {
  z-index: 30;
}

router-outlet {
  z-index: 10;
}

app-footer {
  position: relative;
  display:flex;
  z-index: 20;
  width: 100%;
  border-top: 1px solid var(--main-font-color);
  background-color: var(--main-font-color);
}
