@use '../../../styles.scss' as *;

.dialog {
  position: relative;
  width: clamp(300px, 80vw, 600px);
  margin: 30px auto;
  padding: 50px 32px 32px;
  border: 1px solid var(--main-bg-color);
  border-radius: 4px;
  background: var(--main-font-color);
  color: var(--main-bg-color) !important;
}

#legalContent {
  animation: contentReveal 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  transform: translateY(300px);

  img.adress {
    display: flex;
    filter: brightness(0);
    align-self: baseline;
    margin-top: 4px;
    height: 20px;
    @media (max-width: 600px) {
      height: 16px;
    } 
  }
  img.goBack {
    width: 24px;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.8));

    &:hover {
      animation: woodpecker 0.5s ease-out;
    }
  }

  h1 {
    margin-bottom: 64px;
  }

  h6 {
    color: var(--main-font-color) !important;
    font-family: inherit;
    text-align: left;
  }

  p {
    margin: 30px 0 0 0;
  }
}

.legal-reveal {
  height: calc(100% - 120px);
  display: flex;
  align-items: center;
  position: relative;
}

@keyframes lineGrowSplitTop {
  0% {
    width: 0;
    top: 50%;
  }

  50% {
    width: 86%;
    top: 50%;
  }

  100% {
    width: 86%;
    top: 0;
  }
}

@keyframes lineGrowSplitBottom {
  0% {
    width: 0;
    bottom: 50%;
  }

  50% {
    width: 86%;
    bottom: 50%;
  }

  100% {
    width: 86%;
    bottom: 0;
  }
}

@keyframes contentReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
