@use '../../../styles.scss' as *;


// .overlay {
//   position: fixed;
//   inset: 0;
//   background: rgba(0,0,0,0.35);
//   display: grid;
//   place-items: center;
//   z-index: 1000;
// }

.dialog {
  position: relative;
  width: clamp(300px, 80vw, 600px);
  margin: 30px auto;
  padding: 50px 32px 32px;
  border: 1px solid var(--main-bg-color);
  border-radius: 4px;
  background: var(--main-font-color);
  color: var(--main-bg-color) !important;
  overflow: hidden;
}

#legalContent {
  animation: contentReveal 360ms ease 560ms forwards;
}

.privacyPolicyContainer {
  transform: translateY(8px);

  img.goBack {
    // transition: transform 0.3s cubic-bezier(.34,1.56,.64,1);   
    width: 24px;
    cursor: pointer;
    float: right;
    position: relative;
    top: -50px;
    filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.8));

    &:hover {
      animation: woodpecker 0.5s ease-out;
    }
  }

  img {
    display: flex;
    filter: brightness(0);
    align-self: baseline;
    margin-top: 4px;
    height: 20px;
  }

  h1 {
    margin-bottom: 64px;
  }

  h6 {
    color: var(--main-font-color) !important;
    font-family: inherit;
    text-align: left;

  }

  p {
    margin: 30px 0;
  }
}


/* Linien-Animation (aus Punkt -> horizontal -> vertikal split) */
.legal-reveal {
  height: calc(100% - 120px);

  position: relative;
  overflow: hidden;
}



@keyframes lineGrowSplitTop {
  0% {
    width: 0;
    top: 50%;
  }

  50% {
    width: 86%;
    top: 50%;
  }

  100% {
    width: 86%;
    top: 0;
  }
}

@keyframes lineGrowSplitBottom {
  0% {
    width: 0;
    bottom: 50%;
  }

  50% {
    width: 86%;
    bottom: 50%;
  }

  100% {
    width: 86%;
    bottom: 0;
  }
}

@keyframes contentReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
