@use '../../styles.scss' as *;


.mainBorder{
    border: 2px solid var(--main-font-color);
    position: relative;
    margin-top:-64px;
    padding: 80px;
    font-size:14px;

}


.skillBox{
    opacity:0;
    position:relative;
    // transform: translateX(-100vw) translateY(10vh) scale(2);
    display:flex;
    

    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:120px;
    height:120px;
box-sizing:border-box;
}
.skillIcon{
    width:60px;
    height:60px;
    object-fit:contain;
    &:hover{
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
 }
}

.skillsContainer{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    gap:30px;   
    box-sizing:content-box;
    &.in-view{
        opacity:1;
        /* animation applied to children only */
        justify-content:flex-start;
        .skillBox{
        opacity:1;
        animation: skillSnap 1.5s cubic-bezier(0.2, 0.9, 0.2, 1) both;

        
        }
    }
}


@keyframes skillSnap {
    0% {
        transform: translateX(-100vw) translateY(10vh) scale(3);
        opacity: 0;
      
    }
    40%{
        opacity:1;
    }

    70%{
        transform: translateX(0) translateY(-1vw) scale(1);
       
    }
    80% {
        transform: translateX(0) translateY(0) scale(0.85);
        opacity: 1;
       
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
        
    }
}


@keyframes wiggle {
    0% { transform: skewX(9deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(7deg); }
    30% { transform: skewX(-6deg); }
    40% { transform: skewX(5deg); }
    50% { transform: skewX(-4deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}