@use '../../styles.scss' as *;


.mainBorder{
    border: 2px solid var(--main-font-color);
    position: relative;
    top:-64px;
    padding: 80px;
    font-size:14px;

}


.skillBox{
    opacity:0;
    position:relative;
    // transform: translateX(-100vw) scale(2);
    display:flex;
    
    // margin-inline-start: var(--extra-gap);

    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:120px;
    height:120px;
box-sizing:border-box;
}
.skillIcon{
    width:60px;
    height:60px;
    object-fit:contain;
}

.skillsContainer{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    gap:30px;   
    box-sizing:content-box;
    &.in-view{
        opacity:1;
        // transform: translateX(0) scale(1);
        animation: skillSnap 0.6s cubic-bezier(0.2, 0.9, 0.2, 1) both;    

        justify-content:space-between;
        .skillBox{
        opacity:1;
        animation: skillSnap 1.3ms cubic-bezier(0.2, 0.9, 0.2, 1) both;

        // transform: translateX(0) scale(1);
        // margin-inline-start:0;
        }
    }
}

.skillsContainer.in-view > div.skillBox:nth-of-type(1) {
    animation-delay: 0s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(2) {
    animation-delay: 0.1s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(3) {
    animation-delay: 0.2s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(4) {
    animation-delay: 0.35;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(5) {
    animation-delay: 0.5s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(6) {
    animation-delay: 0.66s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(8) {
    animation-delay: 0.82s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(9) {
    animation-delay: 1s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(10) {
    animation-delay: 1.18s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(11) {
    animation-delay: 1.3s;
}
.skillsContainer.in-view > div.skillBox:nth-of-type(12) {
    animation-delay: 1.5s;
}

@keyframes skillSnap {
    0% {
        transform: translateX(-100vw) scale(2) opacity(0);
    }
    80% {
        transform: translateX(0) scale(0.8) opacity(1);
    }
    100% {
        transform: translateX(0) scale(1) opacity(1);
    }
}
