.mainBorder{
    border: 2px solid var(--main-font-color);
    position: relative;
    top:-64px;
    padding: 80px;
    font-size:14px;

}
.skillsContainer{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:30px;   
    box-sizing:content-box;
}
.skillBox{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:120px;
    height:120px;
  
    box-sizing:border-box;}
.skillIcon{
    width:60px;
    height:60px;
    object-fit:contain;
}