@use '../../styles.scss' as *;

h2 {
  &.skills {
    
    left: 20px;
     top: -8px !important;
    

    @media (max-width: 600px) {
      top: -28px !important;
    }

    @media (max-width: 400px) {
      top: -38px !important;
      left:unset;
    }
  } 
  
}

h4 {
  margin-top: 20px;
}


.observer-root-visual1 {
    position: fixed;
 border: 2px dashed red;
 background: rgba(255,0,0,0.05);
   top: -10%;
  right: -0%;
  bottom: -30%;
  left: -50%;
  z-index: 9993
}
.observer-root-visual2 {
    position: fixed;
 border: 2px dashed green;
 background: rgba(0,255,0,0.05);
    top: 10%;
  left: -10%;
  right: 0%;
  bottom: 10%;
  z-index: 9996
}
.observer-root-visual3 {
    position: fixed;
 border: 2px dashed blue;
  background: rgba(0,0,255,0.05);
   top: -10%;
  right: -0%;
  bottom: -30%;
  left: -50%;
  z-index: 9999;
}

.skillsBorder {
  border: 2px solid var(--main-font-color);
  position: relative;
  margin-top: -64px;
  padding: 80px;
  font-size: 16px;

  @media (max-width: 600px) {
    padding: 40px 20px;
  }
}

.skillBox {
  opacity: 0;
  position: relative;
  transform: translateX(-30px) translateY(10px) scale(2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  // animation: flyInSkill 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;


  &.in-view {
    opacity: 0;
    transform: translateY(0) translateX(0) scale(1);
  animation: skillSnap 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
}

.skillName{
  text-align:center;
}

.individual {
  opacity: 0;
  position: relative;
  transform: translateX(-60px) translateY(-20px) scale(0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  // animation: flyInSkillMobile 1s cubic-bezier(0.2, 0.9, 0.2, 1) both;
  &.in-view {
    opacity:0;
    transform: translateY(0) translateX(0) scale(1);
    animation: skillSnapMobile 1s cubic-bezier(0.2, 0.9, 0.2, 1) both;
  }
}

.skillIcon {
  width: 50px;
  height: 50px;
  object-fit: contain;

  &:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  box-sizing: content-box;

  div.skillsGrid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    gap: 30px;
    justify-items: center;
  }

  @media (max-width: 400px) {
    gap: 20px;

    .skillBox,
    .individual {
      width: 80px;
      height: 80px;

      .skillIcon {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@keyframes skillSnapMobile {
  0% {
    transform: translateX(-60px) translateY(-20px) scale(0.8);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translateX(0) translateY(-10px) scale(1);
  }

  90% {
    transform: translateX(0) translateY(0) scale(0.85);
    opacity: 1;
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes skillSnap {
  0% {
    transform: translateX(-300px) translateY(40px) scale(1.5);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translateX(0) translateY(-10px) scale(1);
  }

  90% {
    transform: translateX(0) translateY(0) scale(0.85);
    opacity: 1;
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes flyInSkill {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes flyInSkillMobile {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}