<h2 class="right skills" [innerHTML]="'my-skills.h2' | translate"></h2>
<div class="skillsBorder">

<ng-template #skillsContent>
  <h4 [innerHTML]="'my-skills.h4_skills' | translate"></h4>
  <div class="skillsGrid">
    @for (skill of skills; track skill; let i = $index) {
      <div
        [ngClass]="inViewMobileSkills ? 'individual' : 'skillBox'"
        [style.animationDelay.ms]="i * 180"
        [class.in-view]="!inViewMobileSkills && visible.skills"
      >
        <img
          [src]="'assets/img/icon_' + skill + '.svg'"
          alt=""
          [attr.title]="skill + ' icon'"
          class="skillIcon"
        />
        <p class="skillName">{{ skill }}</p>
      </div>
    }
  </div>
</ng-template>

@if (!inViewMobileSkills) {
  <div
    #skillsContainer
    class="skillsContainer"
    inView
    [threshold]="0.2"
    [rootMargin]="'10% 0px 10% -0%'"
    (inViewChange)="setSectionVisible('skills', $event)"
  >
    <ng-container *ngTemplateOutlet="skillsContent"></ng-container>
  </div>
} @else {
  <div #skillsContainer class="skillsContainer">
    <ng-container *ngTemplateOutlet="skillsContent"></ng-container>
  </div>
}

<ng-template #knowledgesContent>
  <h4 [innerHTML]="'my-skills.h4_knowledges' | translate"></h4>
  <div class="skillsGrid">
    @for (knowledge of knowledges; track knowledge; let i = $index) {
      <div
        [ngClass]="inViewMobileKnowledges ? 'individual' : 'skillBox'"
        [style.animationDelay.ms]="i * 180"
        [class.in-view]="!inViewMobileKnowledges && visible.knowledges"
      >
        <img
          [src]="'assets/img/icon_' + knowledge + '.svg'"
          alt=""
          [attr.title]="knowledge + ' icon'"
          class="skillIcon"
        />
        <p class="skillName">{{ knowledge }}</p>
      </div>
    }
  </div>
</ng-template>

@if (!inViewMobileKnowledges) {
  <div
    #knowledgesContainer
    class="skillsContainer"
    inView
    [threshold]="0.2"
    [rootMargin]="'10% 0px 10% -0%'"
    (inViewChange)="setSectionVisible('knowledges', $event)"
  >
    <ng-container *ngTemplateOutlet="knowledgesContent"></ng-container>
  </div>
} @else {
  <div #knowledgesContainer class="skillsContainer">
    <ng-container *ngTemplateOutlet="knowledgesContent"></ng-container>
  </div>
}

  <ng-template #toolsContent>
  <h4 [innerHTML]="'my-skills.h4_tools' | translate"></h4>
  <div class="skillsGrid">
    @for (tool of tools; track tool; let i = $index) {
      <div
        [ngClass]="inViewMobileTools ? 'individual' : 'skillBox'"
        [style.animationDelay.ms]="i * 180"
        [class.in-view]="!inViewMobileTools && visible.tools"
      >
        <img
          [src]="'assets/img/icon_' + tool + '.svg'"
          alt=""
          [attr.title]="tool + ' icon'"
          class="skillIcon"
        />
        <p class="skillName">{{ tool }}</p>
      </div>
    }
  </div>
</ng-template>

@if (!inViewMobileTools) {
  <div
    #toolsContainer
    class="skillsContainer"
    inView
    [threshold]="0.1"
    [rootMargin]="'-10% 0px -10% -0%'"
    (inViewChange)="setSectionVisible('tools', $event)"
  >
    <ng-container *ngTemplateOutlet="toolsContent"></ng-container>
  </div>
} @else {
  <div #toolsContainer class="skillsContainer">
    <ng-container *ngTemplateOutlet="toolsContent"></ng-container>
  </div>
}

</div>
