@use '../main.scss' as *;
@use '../../../styles.scss' as *;

.acceptButton {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-self: center;
}

.goBack {
  height: 20px;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.8));

  &:hover {
    animation: woodpecker 0.5s ease-out;
  }
}

.legal {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--accent-font-color);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.privacy-reveal {
  width:100%;
  position: relative;
}

#privacy {
  animation: contentReveal 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s forwards;
  opacity: 0;
  transform: translateY(300px);
}

#privacy,
#legalContent {
  // width: clamp(200px, 80%, 600px);
  max-width:600px;
  margin: 140px auto 30px auto;
  font-size: 14px;
  padding: clamp(20px, 8%, 50px);
  border: 1px solid var(--main-font-color);
  line-height: 18px;
  border-radius: 8px;
  box-sizing: border-box;
  max-height: calc(100% - 200px);
  overflow-y: auto;
  position: relative;
  top: -20px;
  


  h1 {
    font-size: 20px !important;
    text-align: left;
    color: var(--accent-font-color) !important;
    margin-bottom: 10px;
  }

  h6 {
    font-size: 16px;
    color: var(--main-font-color);
    margin-bottom: 10px;
  }

  @media (max-width: 600px) {
    width: 90%;
    padding: 20px;
    overflow-y: auto;

    h1 {
      font-size: clamp(10px, 3vw, 16px) !important;
      top: 20px;
    }
  }

  @media (max-width: 400px) {
    margin: 10px auto 20px auto;
    top:0px;
  }
    @media (max-height:950px) and (min-width:400px) {
    max-height: calc(100% - 100px) !important;
    top: -30px !important;
  }
  @media (max-height:600px) and (min-width:600px){

      max-height: calc(100% - 30px) !important;
        top: -10px !important;
    }
  
} 



.privacyBTN {
  margin: 40px auto -10px auto;
  text-align: center;
}

@keyframes contentReveal {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }

  30% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.5;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}