// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --main-bg-color: #FFFCF3;
  --main-font-color: #09090A;
  --accent-font-color: #00BC8F;
}

@font-face {
  font-family: "Overpass";
  src: url(/assets/fonts/overpass.woff2) format("woff2"),
       url(/assets/fonts/overpass.woff) format("woff");
}

@font-face {
  font-family: "Syne";
  src: url('/assets/fonts/syne.woff2') format("woff2"),
       url('/assets/fonts/syne.woff') format("woff");
       font-weight: 400 800;
       font-style: normal;
      }

@font-face {
  font-family: "Syne - ExtraBold";
  src: url(/assets/fonts/Syne-ExtraBold.woff2) format("woff2"),
     
}

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    // typography: mat-typography.define-typography-config(
    //   $font-family: 'Overpass, "Helvetica Neue", sans-serif',
    // ),
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: "Overpass", "Helvetica Neue", sans-serif;

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Overpass", "Helvetica Neue", sans-serif; }


h1{
  text-align:center;
   font-size: 8rem !important;
   font-weight: 800 !important;
   line-height: 0.9 !important;
   margin: 0; 
    color: var(--main-font-color);
    font-family: 'Syne - ExtraBold', 'Helvetica Neue', sans-serif !important;
      font-variation-settings: "wght" 800, "ital" 0;
}

h2{
    font-size: 2rem !important;
    font-weight: 400 !important;
    margin: 0;
    color: var(--accent-font-color);
    font-family: 'Overpass', 'Helvetica Neue', sans-serif !important;
}
