
@use '@angular/material' as mat;

:root {
  --main-bg-color: #FFFCF3;
  --main-font-color: #09090A;
  --accent-font-color: #00BC8F;
  --extra-gap: 60px;
}

@font-face {
  font-family: "Overpass";
  src: url('../public/assets/fonts/overpass.woff2') format("woff2"),
       url('../public/assets/fonts/overpass.woff') format("woff");
}

@font-face {
  font-family: "Syne";
  src: url('./../public/assets/fonts/syne.woff2') format("woff2"),
       url(./../public/assets/fonts/syne.woff) format("woff");
       font-weight: 400 800;
       font-style: normal;
      }

@font-face {
  font-family: "Syne - ExtraBold";
  src: url(./../public/assets/fonts/Syne-ExtraBold.woff2) format("woff2");
     
}

@font-face{
  font-family: "Syne - Medium";
  src: url(./../public/assets/fonts/Syne-Medium.woff2) format("woff2");
}

@font-face{
  font-family: "Syne - Bold";
  src: url(./../public/assets/fonts/Syne-Bold.woff2) format("woff2"); 
}

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),

    density: 0,
  ));
}

body {

  color-scheme: light;

  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: "Overpass", "Helvetica Neue", sans-serif;

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "Overpass", "Helvetica Neue", sans-serif; 
  overflow-x:hidden;
}


h1{
  text-align:center;
   font-size: clamp(2rem, 8vw,  7rem) !important;
   font-weight: 800 !important;
   line-height: 0.9 !important;
   margin: 0; 
    color: var(--main-font-color);
    font-family: 'Syne - ExtraBold', 'Helvetica Neue', sans-serif !important;
      font-variation-settings: "wght" 800, "ital" 0;
}

h2{
  position:relative;
  z-index:1;
   margin: 3rem 0 2rem 1.2rem;
   padding:0 20px;
   width: 100%;
   background: var(--main-bg-color);
    font-size: clamp(1.2rem, 5vw, 4rem) !important;
    font-weight: 600 !important;
    color: var(--main-font-color);
    font-family: 'Syne - Extrabold', 'Helvetica Neue', sans-serif !important;
        width:fit-content;
    &:hover{
        color: var(--accent-font-color);
    }
}


h3{
    font-size: 2rem !important;
    font-weight: 400 !important;
    margin: 0;
    color: var(--accent-font-color);
    font-family: 'Overpass', 'Helvetica Neue', sans-serif !important;
}

h4{
    font-size: 1rem !important;
    font-weight: 400 !important;
    position:relative;
    border-bottom:1px solid #09090a45;
    margin: 0;
    width:100%;
    text-align:center;
    color: #09090a45;
    font-family: 'Syne - Medium', 'Helvetica Neue', sans-serif !important;

}

.diagonal{
// background-image: linear-gradient(10deg, green 50% , transparent 50%);
// background-image:  url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 1191 567" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M0,0l1190.551,441.128l0,125.801l-1190.551,0l0,-566.929Z" style="fill:#353538;"/></svg>');
background-image: url('../public/assets/img/sayhibg.svg');
background-repeat: no-repeat;

background-size: cover;
background-position: 0% 50%;
}

main{
   font-size: clamp(1rem, 3vw, 1.5rem);
   line-height: 1.6;
   color: var(--main-font-color);
}
.buttonContainer{
    display:flex;
    justify-content:center;
    margin-top:30px;
    width:100%;
}

button.standardButton{

    padding: 10px 28px 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    z-index:10;
    // transition: background-color 0.3s ease;
    transition: background-color 160ms ease, color 160ms ease, border-color 160ms ease, padding 0.3s ease;
    font-family: 'Overpass', 'Helvetica Neue', sans-serif;
    &.light{
      background-color: var(--main-bg-color);
    color: var(--main-font-color);
    border: 2px solid var(--main-font-color);
    }
    &.dark{
  background-color: var(--main-font-color);
        color: var(--main-bg-color);
        border: 2px solid var(--main-bg-color);
    }

    &:hover{
        padding:10px 40px 8px;
        &.light{
  background-color: var(--main-font-color);
        color: var(--main-bg-color)
        }
        &.dark{
            color: var(--main-font-color);
        background-color: var(--main-bg-color)
        }
      
    } 
    &:focus, &:active{
      &.light{
          outline: 1px solid var(--main-font-color);
      }
      &.dark {
        outline: 1px solid var(--main-bg-color);}
    }

} 

.closeButton{
  position: absolute;
  top: 14px;
  right: 14px;
  width: 16px;
  height: 16px;
  background: var(--main-bg-color) url(/assets/img/burger_5.svg) no-repeat right / contain;
  filter: invert(1);
  border: 0;
  cursor: pointer;
}
.closeButton:hover{
  filter: invert(0);
  transition: all 0.3s ease-in-out;
}


.submit-result{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    img.paper-plane{
        width:64px;
        height:64px;
    &:hover{
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
      }
    }    
}

.hideElement{
    z-index:0 !important;
    visibility:hidden !important;
}


@keyframes wiggle {
    0% { transform: skewX(9deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(7deg); }
    30% { transform: skewX(-6deg); }
    40% { transform: skewX(5deg); }
    50% { transform: skewX(-4deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}


@keyframes woodpecker {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-6px);
  }

  35% {
    transform: translateX(0);
  }

  55% {
    transform: translateX(-4px);
  }

  70% {
    transform: translateX(0);
  }

  85% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-height: 800px){

    .privacy-reveal, .legal-reveal {
        height: calc(100% - 120px);
    }   

   }